﻿<!-- partial-about.html -->

<div class="jumbotron text-center">
    <h1>The About Page</h1>
    <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>

    <img src="../../assets/images/common/boost-logo.png" />

    <br /><br />

    <a  href="javascript:void(0)" ng-click="testFunction()">Test Controller Function</a>
    <br /><br />
    <span><p class="steveFont">steveFont</p></span><br />
    <span class="steveFont">steveFont span</span><br />
    <p>notsteveFont</p>

    <i class="icon-commerce icon" style="color:#df7008;"></i>

</div>

<div class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>

    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>

</div>    