﻿@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?h6z6jb');
    src:    url('fonts/icomoon.eot?h6z6jb#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?h6z6jb') format('truetype'),
        url('fonts/icomoon.woff?h6z6jb') format('woff'),
        url('fonts/icomoon.svg?h6z6jb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-MidSizeUpSort .path1:before {
    content: "\e900";
    color: rgb(255, 255, 255);
}
.icon-MidSizeUpSort .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(69, 63, 91);
}
.icon-MidSizeCompanyDropdown .path1:before {
    content: "\e902";
    color: rgb(255, 255, 255);
}
.icon-MidSizeCompanyDropdown .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(223, 103, 0);
}
.icon-LargeSizeCompanyDropdown .path1:before {
    content: "\e904";
    color: rgb(255, 255, 255);
}
.icon-LargeSizeCompanyDropdown .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(225, 103, 0);
}
.icon-LargeSizeDownSort .path1:before {
    content: "\e906";
    color: rgb(255, 255, 255);
}
.icon-LargeSizeDownSort .path2:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(69, 63, 91);
}
.icon-LargeSizeUpSort .path1:before {
    content: "\e908";
    color: rgb(255, 255, 255);
}
.icon-LargeSizeUpSort .path2:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(69, 63, 91);
}
.icon-MidSizeDownSort .path1:before {
    content: "\e90a";
    color: rgb(255, 255, 255);
}
.icon-MidSizeDownSort .path2:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(69, 63, 91);
}
.icon-Download:before {
    content: "\e921";
}
.icon-Upload:before {
    content: "\e922";
}
.icon-drawWhite:before {
    content: "\e920";
}
.icon-mglass:before {
    content: "\e91f";
}
.icon-add-group:before {
    content: "\e90d";
}
.icon-add-user:before {
    content: "\e90c";
}
.icon-black:before {
    content: "\e90e";
}
.icon-business:before {
    content: "\e919";
}
.icon-commerce:before {
    content: "\e918";
}
.icon-companies-drop-down .path1:before {
    content: "\e917";
    color: rgb(249, 249, 249);
}
.icon-companies-drop-down .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(221, 103, 0);
}
.icon-companies-icon:before {
    content: "\e916";
}
.icon-digital-fitness-drop-down .path1:before {
    content: "\e915";
    color: rgb(249, 249, 249);
}
.icon-digital-fitness-drop-down .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(69, 63, 91);
}
.icon-download-icon:before {
    content: "\e914";
}
.icon-fill-199:before {
    content: "\e913";
}
.icon-more-options:before {
    content: "\e912";
}
.icon-page-1:before {
    content: "\e911";
}
.icon-people:before {
    content: "\e910";
}
.icon-question-mark-icon:before {
    content: "\e90f";
}
.icon-rectangle-1-copy:before {
    content: "\e91a";
}
.icon-security:before {
    content: "\e91b";
}
.icon-test-drop-down .path1:before {
    content: "\e91c";
    color: rgb(249, 249, 249);
}
.icon-test-drop-down .path2:before {
    content: "\e927";
    margin-left: -1em;
    color: rgb(69, 63, 91);
}
.icon-three-dots .path1:before {
    content: "\e91d";
    color: rgb(103, 112, 119);
}
.icon-three-dots .path2:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(219, 219, 219);
}
.icon-three-dots .path3:before {
    content: "\e929";
    margin-left: -1em;
    color: rgb(219, 219, 219);
}
.icon-three-dots .path4:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(219, 219, 219);
}
.icon-three-dots-2 .path1:before {
    content: "\e91e";
    color: rgb(249, 249, 249);
}
.icon-three-dots-2 .path2:before {
    content: "\e92b";
    margin-left: -1em;
    color: rgb(219, 219, 219);
}
.icon-three-dots-2 .path3:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(219, 219, 219);
}
.icon-three-dots-2 .path4:before {
    content: "\e92d";
    margin-left: -1em;
    color: rgb(219, 219, 219);
}
.icon-top-right-drop-down .path1:before {
    content: "\e923";
    color: rgb(249, 249, 249);
}
.icon-top-right-drop-down .path2:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(69, 63, 91);
}
.icon-upload-icon:before {
    content: "\e924";
}

